{% extends "inc/base.html" %}

{% load static %}
{% block content %}

<div class="one-question">
  <div class="row">
    <div class="col-3" align="center" >
      <div class="one-question-avatar" >
        <img src="{% static 'img/AvatarQ.png' %}" alt="avatar">
      </div>
      <form class="likes">
        <span >
          <output >{{likes_count}}</output>
          <button class="like-btn">like</button>
        </span>
      </form>
    </div>
    <div class="col-6">
      <h2>Question {{ question_title }}</h2>
      <div class="question-text">{{ question_text }}</div>
      <div> Tags:
        {% for tag in tags %}
          <a href="#">{{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<hr>

{% for answer in answers %}
  {% include "inc/answer_item.html" %}
{% endfor %}

<hr>

<div>
  <input class="answer-textbox" type="text" placeholder="Enter your answer">
</div>
<div>
  <button class="answer-button">Answer</button>
</div>

{% endblock content %}