<div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">

      {% if answers.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ answers.previous_page_number }}">Previous</a>
        </li>
      {% endif %}

      <li class="page-item">
        <a class="page-link" href="?page={{ answers.number }}">{{ answers.number }}</a>
      </li>

      {% if answers.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ answers.next_page_number }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>