{% load static %}

<div class="question">
  <div class="row">
    <div class="col-3" align="center" >
      <div class="question-avatar" >
        <img src="{{ question.get_author.avatar.url }}" alt="avatar">

      </div>
      <button class="counter like_question" data-id="{{ question.id }}">
                {% if request.user.is_authenticated %}
                    <!-- TODO inplement logic if question liked -->
                    {% if request.user.is_authenticated %}
                         <img src="{% static '/img/heart.svg' %}" alt="">
                    {% else %}
                        <img src="{% static '/img/red-heart.svg' %}" alt="">
                    {% endif %}
                {% else %}
                        <img src="{% static '/img/heart.svg' %}" alt="">
                {% endif %}
                <span>{{ question.likes }}</span>
      </button>
    </div>

    <div class="col-6">
        <h2><a class="question-href" href="{% url 'question' question.id %}"> {{ question.title }} </a></h2>
          <div class="question-text"> {{ question.text }} </div>
          <div class="row">
            <div class="col-4">
              <a href="{% url 'question' question.id %}#answers_list"> Answers ({{ question.get_answer_count }})</a>
            </div>
            <div class="col-8">
              <span class="header-green tags_title">Tags: </span>
              {% for tag in question.get_tags %}
                  <a class="tag_in_question" href="{% url 'tag_questions' tag.name %}">{{ tag.name }}</a>
              {% endfor %}
            </div>
          </div>
    </div>
  </div>
</div>
